WSClientExample/src/main/resources/wsdl/GetInstalledBase-v1.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Dit bestand is automatisch gegenereerd door GenerateWsdl rev. 247 -->
<!-- Verwijzingen naar documentatie zijn te vinden in de XML Schema's van de bodies. -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:req="http://services.kpn.com/Messages/GetInstalledBaseRequest-v1"
	xmlns:rsp="http://services.kpn.com/Messages/GetInstalledBaseResponse-v1"
	xmlns:hdr="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:flt="http://services.kpn.com/Messages/KpnTechnicalFault-v2"
	xmlns:srv="http://services.kpn.com/Services/GetInstalledBase-v1"
	targetNamespace="http://services.kpn.com/Services/GetInstalledBase-v1">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://services.kpn.com/Messages/GetInstalledBaseRequest-v1"
				schemaLocation="GetInstalledBaseRequest-v1.1.xsd"/>
			<xsd:import namespace="http://services.kpn.com/Messages/GetInstalledBaseResponse-v1"
				schemaLocation="GetInstalledBaseResponse-v1.1.xsd"/>
			<xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
			<xsd:import namespace="http://services.kpn.com/Messages/KpnTechnicalFault-v2"
				schemaLocation="KpnTechnicalFault-v2.1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Request">
		<wsdl:part name="Request" element="req:GetInstalledBaseRequest-v1"/>
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:part name="Response" element="rsp:GetInstalledBaseResponse-v1"/>
	</wsdl:message>
	<wsdl:message name="Header">
		<wsdl:part name="Header" element="hdr:Security"/>
	</wsdl:message>
	<wsdl:message name="Fault">
		<wsdl:part name="Fault" element="flt:KpnTechnicalFault-v2"/>
	</wsdl:message>
	<wsdl:portType name="WsPortType">
		<wsdl:operation name="GetInstalledBase">
			<wsdl:input message="srv:Request"/>
			<wsdl:output message="srv:Response"/>
			<wsdl:fault name="Fault" message="srv:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HttpBinding" type="srv:WsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetInstalledBase">
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="srv:Header" part="Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetInstalledBaseService">
		<wsdl:port name="WsPort" binding="srv:HttpBinding">
			<soap:address location="http://services.kpn.com/webservices/GetInstalledBase-v1.soap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
