WSClientExample/src/main/resources/wsdl/KpnTechnicalFault-v2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Definition of message hierarchy                                              -->
<!-- Message:             KPN Technical Fault v2.1                                    -->
<!-- Transaction:         TF - KPN Technical Fault                                    -->
<!-- Datamodel:           Metadatamodel, version 1.0                                  -->
<!-- Definition type:     W3C Schema (http://www.w3.org/XML/Schema)                   -->
<!-- XML tagset used:     KpnML                                                       -->
<!-- Generated at:        01-12-2016 11:11:34                                         -->
<!-- Generated using:     EC-Design 1.6.1* (http://www.ec-design.nl)                  -->
<!-- Generated by:        Frans van Basten                                            -->
<!-- Organisation:        KPN (KPN)                                                   -->
<!-- NOTE:    This schema was generated automatically: manual modifications will be lost -->
<!-- NOTE:    Additional rules/conditions regarding the definition may exist, see functional hierarchical specification -->
<xsd:schema targetNamespace="http://services.kpn.com/Messages/KpnTechnicalFault-v2"
		elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1"
		xmlns:str="http://services.kpn.com/Messages/KpnTechnicalFault-v2"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="KpnTechnicalFault-v2">
		<xsd:annotation>
			<xsd:documentation>TECHNICAL FAULT</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="TechErr" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>technical fault - TECHNICAL ERROR</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ErrCode" type="str:String">
								<xsd:annotation>
									<xsd:documentation>Error code</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ErrText" type="str:String">
								<xsd:annotation>
									<xsd:documentation>Error text</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Source" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>technical fault - technical error - SOURCE</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="DN" minOccurs="0" type="str:DistinguishedName">
											<xsd:annotation>
												<xsd:documentation>Distinguished name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="ApplName" minOccurs="0" type="str:Name">
											<xsd:annotation>
												<xsd:documentation>Application name</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- DISTINGUISHED NAME: FORMAT: AN..* -->
	<xsd:simpleType name="DistinguishedName">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- NAME: FORMAT: AN..70 -->
	<xsd:simpleType name="Name">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- STRING: FORMAT: AN..* -->
	<xsd:simpleType name="String">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>